body {
    background-image: url("blandstar.jpg");
    background-repeat: repeat;
}

.navbar-brand {
    background-color: rgb(74, 170, 165);
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
    font-size: x-large;
    color: white;
}

h1 {
    color: rgb(74, 170, 165);
    font-weight: bold;
    font-family: 'Times New Roman', Times, serif;
}

.footer {
    position: fixed;
    bottom: 0;
    margin-top: 2rem;
    width: 100%;
    background-color: rgb(105, 105, 105);
    border-top: rgb(74, 170, 165) thick solid;
}

.btn-info {
    background-color: rgb(74, 170, 165);
    border-radius: 0px !important;
    border-color: rgb(74, 170, 165);
}