/* dark teal: 105266
light teal: 187996
dark purple: 272635
light purple: 503859
whiteish: F2F4FF */

body {
    background-image: url("fadedscales.png");
    background-repeat: repeat;
    font-family: 'Open Sans',
    sans-serif;
    background-color: #F2F4FF;
}

.navbar-brand {
    background-color: #105266;
    padding-left: 1rem;
    padding-right: 1rem;
    border-radius: 10px;
    font-family: 'Overlock',
    cursive;
    font-weight: bold;
    font-size: x-large;
    color: #F2F4FF;
}

h1 {
    color: #105266;
    font-weight: bold;
    font-family: 'Overlock',
    cursive;
}

.footer {
    position: fixed;
    bottom: 0;
    margin-top: 2rem;
    width: 100%;
    background-color: #272635;
    border-top: #105266 thick solid;
}